@media only screen and (min-width: 1100px) {
    .dropdown {
        display: none;
    }
}

@media only screen and (min-width: 100px) and (max-width:1100px) {
    .nav-button {
        display: none;
    }
}

.img {
    height: 100px;
    padding-top: 1%;
}

.navbar {
    display: flex;
    border-bottom: 0.5px solid #eee;
    margin-left: 4%;
    margin-right: 4%;
    position: relative;
    min-width: 100vw
}

.nav-button {
    margin-top: 8%;
    width: 150px;
    height: 50px;
    text-align: center;
    justify-content: right;
}


.nav-text {
    display: flex;
    right: 0;
    margin-right: 10%;
    position: fixed;
    min-width: 800px;
}

.dropdown {
    position: absolute;
    left: 70%;
    margin-top: 3%;
    background: transparent;
}

