.img {
    height: 100px;
    padding-top: 1%;
}

.navbar {
    display: flex block;
    border-bottom: 0.5px solid #eee;
    margin-left: 4%;
    margin-right: 4%;
    min-width: 1070px;
}

.nav-button {
    margin-top: 8%;
    width: 150px;
    height: 50px;
    text-align: center;
    justify-content: right;
}


.nav-text {
    display: flex;
    right: 0;
    margin-right: 10%;
    position: fixed;
}

