body {
    background-color: white;
}

a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

a:hover {
    border-style: solid;
    padding: 5%;
    border-width: 1px;
    border-radius: 10%;
    border-color: #eee;
  }